.eboard {
  h3 {
    margin-bottom: .5em;

    .position {
      font-family: 'Open Sans', sans-serif;
      font-size: 0.813em;
      font-weight: 400;
      color: #547980;
      letter-spacing: 1px;
      text-transform: uppercase;
    }
  }

  p {
    margin: 0;
  }

  strong {
    display: inline-block;
    width: 200px;
  }

  blockquote {
    background-color: rgba(255,255,255,0.5);
    font-style: italic;
    font-family: Georgia, 'Roboto Slab', serif;
    font-size: 1.131em;
    line-height: 1.25em;
    margin: .33em auto;
    padding: 12px;
    width: 70%;

    & > footer {
      font-style: normal;
    }
  }
}

/* Landscape phone to portrait tablet ------------------ */
@media (max-width: 767px) {
  .eboard {
    blockquote {
      width: 90%;
    }

    strong {
      display: inline;
      width: auto;

      &:after {
        content: '';
      }
    }
  }
}
